[package]
name = "browserware-cli"
version.workspace = true
edition.workspace = true
rust-version.workspace = true
license.workspace = true
repository.workspace = true
authors.workspace = true

[[bin]]
name = "brw"
path = "src/main.rs"

[dependencies]
anyhow = "1.0"

[lints]
workspace = true
